@import url("https://fonts.googleapis.com/css?family=Raleway:400,500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family: "Raleway", sans-serif;
}

html {
    background-color: #f7f7f7;
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

.navigation {
    position: fixed;
    height: 3.8rem;
    width: 100vw;
    z-index: 0.5;
    background-color: rgba(0, 0, 0, 0.8);
}

.logo {
    position: fixed;
    top: 0.8rem;
    font-size: 2rem;
    color: white;
    padding: 0 1rem;
    font-weight: bold;
    z-index: 20;
}

label {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 3rem;
    height: 2.5rem;
    border: 0.3rem rgba(89, 114, 169, 0.88);
    border-radius: 0.5rem;

    font-size: 1.5rem;
    z-index: 1;
    color: white;
}
label:active {
    background-color: white;
    color: gray;
}

#sidebar {
    position: fixed;
    top: 3.79rem;
    right: -50rem;

    /*formatting*/
    height: 100vh;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.8);

    z-index: 10;
    /*transition*/
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 0.7s;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]:checked ~ #sidebar {
    right: -1rem;
}

.navigation-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0.5rem 0 0 1rem;
}
.navigation-link {
    padding: 0.5rem 2rem;
    list-style-type: none;
    font-weight: 500;
}
.navigation-link a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}
a:active {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0.5rem;
}

.button {
    position: absolute;
    top: 85vh;
    right: 1.5rem;
    z-index: 1;

    /*arrange content*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*format*/
    width: 4rem;
    height: 2rem;
    border: 0.3rem rgba(89, 114, 169, 0.88);
    font-weight: 500;
    border-radius: 0.5rem;
    background-color: rgba(169, 169, 169, 0.88);
    color: white;
}
.button:active {
    background-color: rgba(169, 169, 169, 0.99);
}

.image {
    height: 100vh;
    background-image: url("../assets/Group\ 167.png");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.about {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;
}
.about h1 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 1rem;
}
.about p {
    width: 80vw;
    font-size: 1.2rem;
    color: white;
}

.services {
    text-align: center;
}
.services h1 {
    font-size: 5rem;
}
.services-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart {
    width: 80vw;

    margin: 1rem;

    text-align: center;
    background-color: white;
}
.cart-image {
    height: 50%;
    width: 50%;

    padding: 1rem;
}
.cart-title {
    margin: 1rem 0;
}
.cart-paragraph {
    margin: 1rem;
}

@media only screen and (min-width: 500px) {
    label {
        display: none;
    }

    .navigation {
        display: none;
    }

    #sidebar {
        position: fixed;
        top: 0;
        height: 3.8rem;
        width: 100vw;

        right: 0rem;
        transition: none;
    }

    .navigation-links {
        padding: 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .navigation-link {
        width: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navigation-link:hover {
        border-bottom: 3px solid white;
    }

    .button {
        top: 0.8rem;
    }

    .about {
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
    }

    .services {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .services h1 {
        padding: 2.5rem 0;
    }

    .services-cards {
        width: 90vw;
        flex-direction: row;
        justify-content: space-around;
    }
    .cart {
        width: 20vw;
        height: 60vh;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition-property: transform;

        transition-duration: 0.2s;
    }
    .cart:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    }
}
